body {
  margin: 0;
  display: flex;
  justify-content: center; /* centraliza no eixo horizontal */
  align-items: center;    /* centraliza no eixo vertical */
  min-width: 320px;
  min-height: 100vh;
  text-align: center;     /* centraliza textos */
}

#app {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}
